<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net48" />
  <package id="DG.AdvancedDataGridView" version="1.2.25707.1" targetFramework="net48" />
  <package id="DotNetProjects.Extended.Wpf.DataGrid" version="4.6.97" targetFramework="net48" />
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="4.6.97" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="RestSharp" version="106.11.7" targetFramework="net48" />
  <package id="SourceGrid" version="4.4.0" targetFramework="net48" />
</packages>